.navbar-inner{min-height: 80px;}

html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	
	/* Wrapper for page content to push down footer */
	#wrap {
		section.title{
			padding:0;
		}
		.dropdown-menu {
		    margin-top: -1px;
		    min-width: 228px;
		}
		min-height: 100%;
		height: auto !important;
		height: 100%;
		/* Negative indent footer by it's height */
		margin: 0 auto -50px;
		#service-container { 
			textarea#message {
			    padding: 10px 15px;
			    height: 100px;
			}
			padding-top: 20px;
			h2.form-title{
				margin-top:0;
			}
			.appliance-dropdown{
				button{
					background-color: #FFFFFF;
					text-align: left;
					margin-bottom: 10px;
				}
				
			}
			.appliance-message{
				margin:0;
			}

		}
	}
	/* Set the fixed height of the footer here */
	#push,#footer {
		height: 50px;
		
	}
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}


